.IsksAutographs{  
  color: linear-gradient(to right, red , yellow, green, blue, purple);
  display: flex;
  justify-content: center;
  margin-top: -50px;

}

.title{
  font-size: 100px;
  background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
  /* border: 2px solid blue;  */

}

.two{
  /* border: 2px solid blue;  */
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image{
  /* border: 2px solid green;  */
  padding: 40px;
}

.Image {
  width: 250px;
  height: 350px;
  /* border: 2px solid red; */
  margin-bottom: -20px;
  box-shadow: 0 20px 20px #000
}

.threeone{
  /* border: 2px solid yellow; */
  margin: 20px 50px;
  ;
}

.threetwo{
  /* border: 2px solid orange; */
  margin: 20px 50px
}

.threethree{
  /* border: 2px solid pink; */
  margin: 20px 50px;
}

.Price{
  /* border: 2px solid pink; */
  font-size: 50px;
  font-weight: bold;
  text-align:center;
  color:rgba(100, 50, 255, .8);
  -webkit-animation: rainbow 3s infinite;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

@-webkit-keyframes rainbow{
  0%{color: red;}	
  10%{color: orange;}
  20%{color: yellow;}
  40%{color: rgb(67, 197, 67);}
  60%{color: #19d4ff;}
  80%{color: rgb(197, 38, 197);}	
  100%{color: red;}	
  
}

.btnposition{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.boop{
  outline: none; 
  background-color: white; 
  width: 200px;
  text-align: center; 
  padding: 30px 30px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 0 9px rgb(36, 34, 34); 
  text-decoration: none;
  color: black; 
}

.boop:hover{
  background: linear-gradient(to right, red , yellow, green, blue, purple);
  color: white; 
}

.boop:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.text{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  color: white; 
  font-weight: 800;
  text-shadow:
  3px 3px 0 #000,
-1px -1px 0 #000,  
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}